@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  @keyframes float-3d {

    0%,
    100% {
      transform: translateY(0) rotate(0deg);
    }

    50% {
      transform: translateY(-20px) rotate(2deg);
    }
  }

  .animate-float-3d {
    animation: float-3d 6s ease-in-out infinite;
  }
}